*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
}

/* Upper Header Starts */
.upperHeader{
    background-color: black;
    width: 100%;
    height: 75px;
    color: white;
}

.left{
    display: inline-block;
    /* border: 2px solid green; */
    height: 70px;
    width: 70%;
    align-content:center;
}

.left ul{
    margin-left: 40px;
}

.left ul li{
    display: inline-block;
}

.left ul li a{
    padding: 13px 19px;
    border-radius: 40px;
    background-color: rgb(37, 37, 37);
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.right{
    display: inline-block;
    /* border: 2px solid green; */
    width: 29%;
    height: 70px;
    /* justify-content: center; */
    align-content: center;
}
.callIcon{
    display: inline-block;
}

.callIcon p{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin: 0px 5px;
}

.callIcon img{
    width: 20px;
}

.callMeButton {
    display: inline-block;
    position: absolute;
    right: 40px;
    top: 18px;
}

.callMeButton button{
    background-color: #89c22d;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-family: "Roboto" sans-serif;
    font-size: 15px;
    font-weight: 500;
    border-radius: 4px;
    
}

.callMeButton button:hover{
    background-color: #79af22;
}
.callMeButton button:active{
    background-color: #88cf16;
    
}
/* Upper Header Ends */


/* Navbar Starts */
.logo{
    margin-left: 40px;
    /* display: inline-block; */
    display: inline-block;
    width: 765px;
    
}

.logo img{
    position: absolute;
    top: 80px;
    width: 180px;
}

.navList{
    display: inline-block;
}

.navList ul li{
    display: inline-block;
}

.navList ul li a{
    text-decoration: none;
    display: inline-block;
    padding: 36px 20px;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.navList ul li a:hover{
    /* background-color: black; */
    /* color: #A2D84C; */
    font-weight: 800;
    border-bottom: inset 10px #FEBD19;
    
}
.navList ul li a:active{
    color:#89c22d;
    
}
/* Navbar Ends */


/* Hero Section Starts */
.heroSection{
    height: 700px;
    background-color:#89c22d;
    background-image: url('./images/linesBg.png');
    background-blend-mode:lighten;
    align-content: center;
    text-align: center;
}

.text{
    width: 1200px;
    height: 10px;
    display: inline-block;
}

.text h1{
    font-size: 100px;
    font-weight: 600;
    color: white;
}

.text p{
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin: 30px 0px;
}
.bx{
    height: 100px;
    width: 30vw;
    background-color:#97ce40;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.textHeading{
    display: flex;
    margin-top: 100px;
}

.textHeading h1{
    font-size: 88px;
    margin: 0px 20px;
    font-weight: 600;
    color: white;
}

.readMoreButton{
    margin: 60px 0px;
}

.readMoreButton button{
    border: none;
    border-radius: 10px;
    padding: 15px 50px;
    font-size: 25px;
    font-weight: 600;
    background-color: #FEBD19;
    cursor: pointer;
}

.readMoreButton button:hover{
    background-color: #f0ae07;
}

.readMoreButton button:active{
    background-color: #fac02c;
}

.sliderCircles{
    display: flex;
    justify-content: center;
    /* margin-top: 150px; */
}

.sliderBox{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    margin: 0px 10px;
}

.sliderBox1{
    background-color: rgba(255, 255, 255, 1);
}
.sliderBox2{
    background-color: rgba(255, 255, 255, 0.6);
}
.sliderBox3{
    background-color: rgba(255, 255, 255, 0.3);
}
/* Hero Section Ends */


/* Advantages Section Start */
.advantageSection{
    text-align: center;
    padding: 0px 0px 40px 0px;
}

.advantageHeading{
    padding:30px 0px;
}

.advantageHeading h1, .advantageHeading span{
    font-size: 60px;
    font-weight: 700;
}

.advantageHeading span{
    color: #79af22;
}

.advantageHeading p{
    width: 1000px;
    margin: 10px auto;
    font-size: 20px;
    font-weight: 400;
    color: gray;
}

.advantageCards{
    display: flex;
    justify-content: center;
    text-align: center;
}

.advantageCards h3{
    font-size: 25px;
    font-weight: 600;
    margin: 5px 0px;
}

.advantageCards p{
    font-size: 18px;
}

.card{
    width: 275px;
    padding: 30px;
    margin: -30px 10px;
}

.icon{
    width: 250px;
    height: 250px;
    background-color: rgb(243, 243, 243);
    align-content: center;
    border-radius: 200px;
    margin: 20px auto;
}

.icon img{
    width: 120px;
}

.icon1 img{
    width: 80px;
}
/* Advantage Section Ends*/


/* About Us Section Starts */
.aboutSection{
    background-image: url("./images/AboutSectionBg.png");
    width: 100%;
    padding: 30px 0px;
}
.aboutLeft{
    display: inline-block;
}

.aboutRight{
    display: inline-block;
    width: 800px;
    height: 600px;
    margin-left: 300px;
    background-image: url("./images/Computer.png");
    background-repeat: no-repeat;
}

.aboutHeading h1, .aboutHeading span{
    font-size: 60px;
    text-align: center;
    font-weight: 700;
    padding: 10px 0px;
}

.aboutHeading span{
    color: #79af22;
}

.aboutSection p{
    font-size: 18px;
    font-weight: 500;
    width: 700px;
    margin-left: 80px;
}

.aboutButton{
    margin-left: 80px;
    margin-top: 40px;
}

.aboutButton button{
    border: none;
    background-color:#fac02c;
    padding: 15px 55px;
    font-size: 25px;
    font-weight: 500;
    border-radius: 8px;
}

.aboutButton button:hover{
    background-color: #f0ae07;
}

.aboutButton button:active{
    background-color: #FEBD19;
}
/* About Us Section Ends */


/* OUR SERVICES Section Starts */
.serviceSection{
    padding: 40px 80px;
    text-align: center;
}

.serviceHeading h1, .serviceHeading span{
    font-size: 60px;
    font-weight: 700;
}

.serviceHeading span{
    color: #79af22;
}

.serviceHeading p{
    width: 100%;
    margin: 10px auto;
    font-size: 20px;
    font-weight: 400;
    color: gray;
}

.ourServiceCards{
    display: flex;
    justify-content: space-between;
}

.ourServiceCard{
    position: relative;
    width: 400px;
    margin: 100px 30px 0px 0px;
    background-color:rgb(243, 243, 243);
}

.circle{
    position: absolute;
    width: 120px;
    height: 120px;
    border-radius: 100px;
    background-color: #FEBD19;
    background-image: url("./images/Star.png");
    background-repeat: no-repeat;
    background-position-x: 35px;
    background-position-y: 33px;
    background-size: 50px;
}

.circle1{
    /* position: absolute; */
    /* left: 230px;
    top: 2660px; */
    top: -20%;
    left: 35%;
}

.circle2{
    /* position: absolute; */
    /* left: 670px;
    top: 2660px; */
    top: -20%;
    left: 35%;
}

.circle3{
    /* position: absolute; */
    /* left: 1100px;
    top: 2660px; */
    top: -20%;
    left: 35%;
}

.circle4{
    /* position: absolute; */
    /* left: 1530px;
    top: 2660px; */
    top: -20%;
    left: 35%;
}

.ourServiceCards h3{
    font-size: 25px;
    font-weight: 600;
    margin-top: 100px;
}

.ourServiceCards p{
    font-size: 18px;
    margin: 10px 30px;
}

.ourServiceCards button{
    margin: 20px 0px 40px 0px;
    border: none;
    text-decoration: underline;
    font-size: 20px;
    font-weight: 400;
    color:#79af22;
    background: none;
}

.ourServiceCards button:hover{
    color: #88cf16;
}

.ourServiceCards button:active{
    color:#79af22;
}
/* OUR SERVICES Section Ends */


/* OUR PORTFOLIO Section Starts */
.ourPortfolioSection{
    background-color: #212121;
    color: white;
    padding: 60px 80px;
    text-align: center;
}

.ourPortfolioHeading h1, .ourPortfolioHeading span{
    font-size: 60px;
    font-weight: 700;
}

.ourPortfolioHeading span{
    color: #79af22;
}

.ourPortfolioHeading p{
    font-size: 20px;
    width: 800px;
    margin: 20px auto;
    font-weight: 200;    
}

.portfolioNavigation ul li{
    list-style-type: none;
    display: inline-block;
    font-size: 25px;
    font-weight: 400;
    padding: 10px 30px 30px 30px;
    cursor: pointer;
}

.portfolioNavigation ul li:hover{
    color:#FEBD19;
    font-weight: 600;
}

.portfolioNavigation ul li:active{
    color:#f0ae07;
}

.portfolioImages ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.portfolioImages ul li{
    list-style-type: none;
    margin: -3px -1px;
}


.folioImage1:hover{
    content: url("./images/p1_colored.png");
}
.folioImage2:hover{
    content: url("./images/p2_colored.png");
}
.folioImage3:hover{
    content: url("./images/p3_colored.png");
}
.folioImage4:hover{
    content: url("./images/p4_colored.png");
}
.folioImage5:hover{
    content: url("./images/p5_colored.png");
}
.folioImage6:hover{
    content: url("./images/p6_colored.png");
}
.folioImage7:hover{
    content: url("./images/p7_colored.png");
}
.folioImage8:hover{
    content: url("./images/p8_colored.png");
}
.folioImage9:hover{
    content: url("./images/p9_colored.png");
}
.folioImage10:hover{
    content: url("./images/p10_colored.png");
}
/* OUR PORTFOLIO Section Ends */


/* OUR PROCESS Section Starts */
.ourProcessSection{
    padding: 60px 80px;
    text-align: center;
    /* width: 100%; */
    
}

.ourProcessHeading h1, .ourProcessHeading span{
    font-size: 60px;
    font-weight: 700;
}

.ourProcessHeading span{
    color: #79af22;
}

.ourProcessHeading p{
    font-size: 20px;
    width: 700px;
    margin: 10px auto;
}

.ourProcessCards{
    margin: 80px 80px 20px 80px;
    display: flex;
    justify-content:space-between;
    text-align: center;
    position: relative;
}

.ProcessCardImage{
    width: 200px;
    height: 200px;
    border-radius: 500px;
    border: 3px solid gray;


}

.ProcessCardImage1{
    background-image: url("./images/icon_Phone.png");
    background-repeat: no-repeat;
    background-size: 50px;
    background-position-x: 4vw;
    background-position-y: 50%;
}

.ProcessCardImage2{
    background-image: url("./images/icon_Chat.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position-x: 2.7vw;
    background-position-y: 50%;
}

.ProcessCardImage3{
    background-image: url("./images/icon_Network.png");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position-x: 3.4vw;
    background-position-y: 50%;
}

.ProcessCardImage4{
    background-image: url("./images/icon_Gear.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position-x: 2.8vw;
    background-position-y: 50%;
}

.ProcessCardImage5{
    background-image: url("./images/icon_Pencil.png");
    background-repeat: no-repeat;
    background-size: 75px;
    background-position-x: 3vw;
    background-position-y: 50%;
}

.ProcessCardImage6{
    background-image: url("./images/icon_Mail.png");
    background-repeat: no-repeat;
    background-size: 90px;
    background-position-x: 3.5vw;
    background-position-y: 50%;
}

.ProcessCard h3{
    font-size: 25px;
    font-weight: 500;
    margin: 20px 0px;;
}

.ProcessCardCircle{
    width: 50px;
    height: 50px;
    background-color: #FEBD19;
    text-align: center;
    position: absolute;
    top: -6%;
    margin-left: 6.7%;
    border-radius: 50px;

}

.ProcessCardCircle p{
    justify-content: center;
    margin-top: 18%;
    font-weight: 600;
    font-size: 1.7em;
}
/* OUR PROCESS Section Ends */

/* PEOPLE ABOUT US Section Starts */
.peopleSection{
    padding: 20px 0px;
    width: 100%;
    background-color: #F1F2F2;
    text-align: center;
}

.peopleSectionHeading h1, .peopleSectionHeading span{
    font-size: 4rem;
    font-weight: 700;
}

.peopleSectionHeading span{
    color:#79af22;
}

.peopleSectionHeading p{
    margin: 0.5% auto;
    font-size: 1.5rem;
    width: 40%;
    color: gray;
}

.peopleSectionCards{
    display: grid;
    margin: 50px 80px;
    grid-template-columns: repeat(auto-fit, minmax(min(100%/1, max(64px, 100%/2)), 1fr));
}

.peopleSectionCard{
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin: 0px 10px;
}

.peopleSectionCard1{
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
}

.peopleSectionCard3{
    border-right: 1px solid gray;
}

.peopleSectionCard2{
    border-bottom: 1px solid gray;
}

.peopleCardImage{
    width: 25%;
    text-align: center;
}

.peopleCardContent{
    width: 64%;
}

.peopleCardContent h3{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1vh;
}

.peopleCardContent p{
    font-weight: 300;
}

.peopleSectionSliders{
    width: 100%;
}

.peopleSlider{
    width: 20px;
    height: 20px;
    border-radius: 50px;
    display: inline-block;   
    margin: 0px 0.2%;
}

.peopleSlider1{
    background-color:#f0ae07;
}

.peopleSlider2{
    background-color:#FEBD19;
}

.peopleSlider3{
    background-color: #fac02c;
}
/* PEOPLE ABOUT US Section Ends */

/* OUR SKILLS Section Starts */
.ourSkillSection{
    width: 100%;
    padding: 7vh 0px;
    text-align: center;
}

.ourSkillSectionHeading h1, .ourSkillSectionHeading span{
    font-size: 4rem;
    font-weight: 700;
}

.ourSkillSectionHeading span{
    color: #79af22;
}

.ourSkillSectionHeading p{
    font-size: 1.5rem;
    width: 40%;
    margin: 10px auto;
    color: gray;
}

.ourSkillBars{
    display: flex;
    justify-content: center;
    gap: 5%;
}

.ourSkillBar{
    position: relative;
}

.ourSkillBars img{
    width: 90%;
    margin-top: 10%;
}

.ourSkillBars h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 30px 0px;
}

.ourSkillBars h1{
    position: absolute;
    top: 35%;
    left: 38%;
    font-size: 3rem;
    font-weight: 700;
}

.ourSkillBar1 h1{
    color: #FF831D;
}

.ourSkillBar2 h1{
    color: #ED4F54;
}

.ourSkillBar3 h1{
    color: #668E19;
}

.ourSkillBar4 h1{
    color: #212121;
}
/* OUR SKILLS Section Ends */

/* START PROJECT Section Starts */
.startProjectSection{
    width: 100%;
    background-color: #8DC63F;
    color: white;
    /* padding: 3% 0px; */
    text-align: center;
}

.startProjectSection h1{
    font-size: 5rem;
    font-weight: 700;
    padding: 3% 0px;;
}

.startProjectSection input{
    width: 15%;
    padding: 1%;
    margin: 0px 10px;
    font-size: 1.3rem;
    font-weight: 500;
    color: gray;
    border-radius: 10px;
    border: none;
    box-shadow: inset 3px 3px 0 0 lightgray;
}

.startProjectSection button{
    width: 15%;
    padding: 1%;
    margin: 0px 10px;
    font-size: 1.7rem;
    font-weight: 500;
    border-radius: 10px;
    border: none;
    background-color: #fac02c;
    box-shadow: 0px 4px 0px 0px #FF831D ;
}

.startProjectSection button:hover{
    background-color: #f0ae07;
}

.startProjectSection button:active{
    background-color:#FEBD19;
}

.startProjectSection p{
    margin:auto;
    padding: 2% 0px 3% 0;
    font-size: 1.2rem;
    width: 50%;
    font-weight: 400;
}
/* START PROJECT Section Ends */

/* OUR CONTRACTS Section Starts */
.ourContractsSection{
    width: 100%;
    padding-top: 3%;
    text-align: center;
}

.ourContractsHeading h1, .ourContractsHeading span{
    font-size: 4rem;
    font-weight: 700;
}

.ourContractsHeading span{
    color: #79af22;
}

.ourContractsHeading p{
    margin: 1% 0px 0% 0px;
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.2rem;
}

.ourContractMap img{
    width: 100%;
}

.ourContractsContactDetails{
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.ourContractsContactDetails p{
    font-size: 2rem;
    font-weight: 400;
}

.address{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}
/* OUT CONTRACT Section Ends */

/* FOOTER Starts */
footer{
    background-color: #668E19;
    padding: 5% 8%;
    display: flex;
    gap: .5%;
}
.footerSection{
    width: 25%;
    /* background-color: #ED4F54; */
    /* height: 50px; */
    /* border:1px solid #212121; */
    color: white;
    padding: 0% 2%;
}

.footerSection ul li{
    list-style-type: none;
    line-height: 200%;
    text-decoration: underline;
    font-size: 1.3rem;
    font-weight: 400;
    cursor: pointer;
}

.footerSection ul li:hover{
    color: #F1F2F2;
}

.footerSection ul li:active{
    color:bisque;
}

.footerSection h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3%;
}

.footerSection1{
    padding: 0;
    margin: 0;
    align-content: center;
}

.footerSec1 p{
    font-weight: 400;
    font-size: 1.3rem;
    margin: 10% 0px;
}

.footerSec1 p span{
    font-weight: 500;
    font-size: 1.3rem;
}

.footerSec2{
    border-right: 3px solid #8DC63F;
}

.footerSec3{
    border-right: 3px solid #8DC63F;
}

.footerSec4 p{
    margin: 0px 0px 6% 0px;
}

.footerIcons{
    margin-left: -40px;
    width: 100%;
}

.footerIcons ul li{
    text-decoration: none;
}

.footerIcons ul li a{
    text-decoration: none;
    color: #668E19;
}